asgiref
#coreapi
#cgi
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
drf-yasg
sqlparse
psycopg2-binary
psycopg-binary
psycopg2
psycopg
python-dotenv
dj_database_url
gunicorn
whitenoise